extends layout 

block content
    .delete-page
        h1.main-title= title 
        .delete-item-info
            h2= category.name
            p= category.description

        if (whiskies.length > 0)
            p.warning-large To delete a category, there must be no whiskies in the category
            
            .to-be-deleted
                p You must delete the following whiskies to delete the category: 
                for whisky in whiskies
                    ul
                        li 
                            a(href=whisky.url) #{whisky.name}

        else
            p Are you sure you want to delete?

            form(method='POST' action='' class='delete-confirm')
                input(type='hidden',name='categoryId', required='true', value=category._id )

                input(name='adminPassword', type='password', required='true' placeholder='Admin Password')
                
                if (authorised === 'false')
                    p.validation-error Incorrect Admin Password

            button.btn.btn-primary(type='submit' class='button') Delete