extends layout

block content
    div.main
        h1.page-title= title
        div.category-list
            if (categories)
                for category in categories
                    div.category-card
                        div.upper-category-card
                            h2 
                                a(href=category.url) #{category.name}
                            a(href=category.url)
                                p.category-card-description= category.description
                        div.lower-category-card
                            a(href=`/category/${category.id}/edit` class='button button-small') Edit
                            a(href=`/category/${category.id}/delete` class='button button-small') Delete
            else 
                p There are no categories!
        
        div.add-section
            h2 Looking for a specific Category?
            a(href='/category/create' class='button') Add New Category