extends layout

block content
    div
        h1.page-title= title
        div.distillery-list
            if (distilleries)
                for distillery in distilleries
                    div.distillery-card
                        div.upper-distillery-card
                            h2 
                                a(href=distillery.url) #{distillery.name}
                            p= distillery.location
                        div.lower-distillery-card
                            a(href=`/distillery/${distillery.id}/edit` class='button button-small') Edit
                                a(href=`/distillery/${distillery.id}/delete` class='button button-small') Delete
            else 
                p There are no distilleries! 

        div.add-section
            h2 Is your favourite distillery missing?
            a(href='/distillery/create' class='add-button button') Add New Distillery