extends layout

block content
    div.main
        h1.page-title= title

        if (category)
            h4.main-subtitle= category.description
        
        else if (distillery)
            h4.main-subtitle= distillery.location

        else 
            h4.main-subtitle= 'Here is a list of our full selection. You can click on a category or distillery below to narrow down your options.'

        
        if (whiskies)
            div.whisky-list
                for whisky in whiskies
                    div.whisky-card
                        .whisky-card-title
                            h4 
                                a(href=whisky.url) #{whisky.name}
                        .whisky-card-image    
                            a(href=whisky.url)
                                img(src= whisky.imgUrl class='img-small')
                        .whisky-card-lower
                            p 
                                a(href=whisky.category.url) #[strong Category:] #{whisky.category.name ||category.name}
                            p 
                                a(href=whisky.distillery.url) #[strong Distillery:] #{whisky.distillery.name || distillery.name}
                            p #[strong In Stock:] #{whisky.stockQuantity}
                            p #[strong Price:] $#{whisky.price.toFixed(2)}
        else 
            p.none-found There are no whiskies!

        div.add-section
            h3 Looking for something that isn't here?
            a(href=`/whisky/create` class='button') Click here to add a Whisky