extends layout

block content
    div.main
        h1.main-title= title

        if (category)
            h4.main-subtitle= category.description
        
        else if (distillery)
            h4.main-subtitle= distillery.location

        else 
            h4.main-subtitle= 'Here is a list of our full selection. You can click on a category or distillery below to narrow down your options.'

        
        div.whisky-list
            if (whiskies)
                for whisky in whiskies
                    div.whisky-card
                        h4 
                            a(href=whisky.url) #{whisky.name}
                        a(href=whisky.url)
                            img(src= whisky.imgUrl class='img-small')
                        p Price: $#{whisky.price.toFixed(2)}
                        p In Stock: #{whisky.stockQuantity}
                        p 
                            a(href=whisky.category.url) Category: #{whisky.category.name ||category.name}
                        p 
                            a(href=whisky.distillery.url) Distillery: #{whisky.distillery.name || distillery.name}
            else 
                p There are no whiskies!

        div.add-section
            h3 Looking for something that isn't here?
            a(href=`/whisky/create` class='button') Click here to add a Whisky