extends layout

block content
    div
        h1= title

        if (category)
            h4= category.description
        
        if (distillery)
            h4= distillery.location

        div.whisky-list
            for whisky in whiskies
                div.whisky-card
                    h4 
                        a(href=whisky.url) #{whisky.name}
                    img(src= whisky.imgUrl)
                    p= whisky.price.toFixed(2)
                    p In Stock: #{whisky.stockQuantity}
                    p 
                        a(href=whisky.category.url) Category: #{whisky.category.name ||category.name}
                    p 
                        a(href=whisky.distillery.url) Distillery: #{whisky.distillery.name || distillery.name}