extends layout 

block content
    .delete-page
        h1.main-title= title 
        .delete-item-info
            h2= whisky.name
            img(src=whisky.imgUrl, alt="", class='img-small')
            p= whisky.description

        p Are you sure you want to delete?

        form(method='POST' action='' class='delete-confirm')
            
            input(type='hidden',name='whiskyId', required='true', value=whisky._id )

            input(name='adminPassword', type='password' required='true' placeholder='Admin Password')
            
            if (authorised === 'false')
                p.validation-error Incorrect Admin Password

            button.btn.btn-primary(type='submit' class='button') Delete